@model CybProjWeb.Entities.Faculty
@{
    ViewData["Title"] = "Faculty";
}
<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit Faculty</h4>
            <form method="post" asp-action="Edit" class="mt-4">
                <div class="form-group">
                    <input type="text" class="form-control" id="placeholder"
                           placeholder="Name" asp-for="FacultyName"required>
                </div><br />
                <div class="form-group">
                    <input type="text" class="form-control" id="placeholder"
                           placeholder="Code" asp-for="FacultyCode"required>
                </div><br />
                <button type="submit" class="btn btn-rounded btn-outline-success">Submit</button>
                <a href="Cancel" type="button" class="btn btn-rounded btn-outline-danger">Cancel</a>

            </form>

        </div>
    </div>
</div>