@model CybProjWeb.Models.SignupViewModel

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
     style="background:url(../assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box row text-center">
        <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(../assets/images/big/logSign.jpg);">
        </div>
        <div class="col-lg-5 col-md-7 bg-white">
            <div class="p-3">
                <img src="../assets/images/big/icon.png" alt="wrapkit">
                <h2 class="mt-3 text-center">Sign Up for Free</h2>
                <form class="mt-4" method="POST" asp-action="SignUp">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Username" asp-for="Username" required>
                            </div>
                        </div><br />
                        
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input class="form-control" type="Email" placeholder="Email address" asp-for="Email" required>
                            </div>
                        </div><br />
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input class="form-control" type="password" placeholder="Password" asp-for="Password" required>
                            </div>
                        </div><br />
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-block btn-dark">Sign Up</button>
                        </div>
                        <div class="col-lg-12 text-center mt-5">
                            Already have an account? <a asp-controller="Account" asp-action="login" class="text-danger">Sign In</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>