
@using Microsoft.AspNetCore.Identity
@using CybProjWeb.Entities
@inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager


<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Employee Web</title>
    <!-- Custom CSS -->
    <link href="~/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <link href="~/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="~/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/dist/css/style.min.css" rel="stylesheet">
    <link href="~/sweetAlert/sweetalert.css" rel="stylesheet" />
    <script src="~/sweetAlert/sweetalert.min.js"></script>
    <script src="~/sweetAlert/sweetalert-dev.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <img src="~/assets/images/favicon.png" />
                        <h3>Employee Web</h3><!--///////////ggtregy4hy4h5uy4h3hhyg54f-->

                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                       data-toggle="collapse" data-target="#navbarSupportedContent"
                       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti-more"></i>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                        <!-- Notification -->
                        <!-- End Notification -->
                        <!-- ============================================================== -->
                        <!-- create new -->
                        <!-- ============================================================== -->

                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="javascript:void(0)">
                                <form>
                                    <div class="customize-input">
                                        <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                               type="search" placeholder="Search" aria-label="Search">
                                        <i class="form-control-icon" data-feather="search"></i>
                                    </div>
                                </form>
                            </a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                               
                                <span class="ml-2 d-none d-lg-inline-block">
                                    <span>Hello,</span> <span class="text-dark">@UserManager.GetUserName(User)</span> <i data-feather="chevron-down"
                                                                                                    class="svg-icon"></i>
                                </span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                {
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        <i data-feather="user"
                                           class="svg-icon mr-2 ml-1"></i>
                                        View Profile
                                    </a>
                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" asp-controller="Account" asp-action="LogOut">
                                        <i data-feather="power"
                                           class="svg-icon mr-2 ml-1"></i>
                                        Logout
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <div class="pl-4 p-3">

                                    </div>
                                }
                                else if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))

                                {
                                    <a class="dropdown-item" asp-controller="User" asp-action="ViewProfile">
                                        <i data-feather="user"
                                           class="svg-icon mr-2 ml-1"></i>
                                        View Profile
                                    </a>
                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" asp-controller="Account" asp-action="LogOut">
                                        <i data-feather="power"
                                           class="svg-icon mr-2 ml-1"></i>
                                        Logout
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <div class="pl-4 p-3">

                                    </div>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Login">
                                        <i data-feather="user"
                                           class="svg-icon mr-2 ml-1"></i>
                                        Login
                                    </a>

                                }

                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" asp-controller="Home" asp-action="Index"
                               aria-expanded="false">
                                <i data-feather="home" class="feather-icon"></i><span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="list-divider"></li>

                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-small-cap"><span class="hide-menu">Admin</span></li>
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                   aria-expanded="false">
                                    <i class="fas fa-user"></i><span class="hide-menu">Admin</span>
                                </a>
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a asp-controller="Administration" asp-action="ListRoles" class="sidebar-link">
                                            <span class="hide-menu">
                                                ListRoles
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a asp-controller="Administration" asp-action="CreateRole" class="sidebar-link">
                                            <span class="hide-menu">
                                                Create Role
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>





                            <!--SETUP SALARY-->

                            <li class="list-divider"></li>
                            <li class="nav-small-cap"><span class="hide-menu">Employee</span></li>

                            <li class="sidebar-item">
                                <a asp-controller="Department" asp-action="Index" class="sidebar-link"
                                   aria-expanded="false">
                                    <i class="fas fa-building"></i><span class="hide-menu">
                                        Department
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-controller="Faculty" asp-action="Index" class="sidebar-link"
                                   aria-expanded="false">
                                    <i class="fas fa-industry"></i><span class="hide-menu">
                                        Faculty
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-controller="Grade" asp-action="Index" class="sidebar-link"
                                   aria-expanded="false">
                                    <i class="fas fa-level-up-alt"></i><span class="hide-menu">
                                        Grade
                                    </span>
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                   aria-expanded="false">
                                    <i class="fas fa-user"></i><span class="hide-menu">Employee</span>
                                </a>
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a asp-controller="User" asp-action="Create" class="sidebar-link">
                                            <span class="hide-menu">
                                                Setup Profile
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a asp-controller="User" asp-action="Index" class="sidebar-link">
                                            <span class="hide-menu">
                                                List of Employees
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>


                            @*<li class="sidebar-item">
                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                   aria-expanded="false">
                    <i class="fas fa-money-bill-alt"></i><span class="hide-menu">Salary</span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                    <li class="sidebar-item">
                        <a asp-controller="Salary" asp-action="Create" class="sidebar-link">
                            <span class="hide-menu">
                                Compute Salary
                            </span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-controller="Salary" asp-action="Index" class="sidebar-link">
                            <span class="hide-menu">
                                List of Salaries
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
                            *@

                        }
                        else if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))

                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                   aria-expanded="false">
                                    <i class="fas fa-money-bill-alt"></i><span class="hide-menu">Salary</span>
                                </a>
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a asp-controller="User" asp-action="PersonalSalary" class="sidebar-link">
                                            <span class="hide-menu">
                                                View Salary Structure
                                            </span>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                        }


                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Good Day @UserManager.GetUserName(User)</h3>

                    </div>

                </div>
            </div>
            <!-- Main JS-->
            <script src="~/js/main.js"></script>
            <div class="container">
                <partial name="_CookieConsentPartial" />
                <partial name="_NotificationPanel" />
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

        </div>

    </div>

    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="~/dist/js/app-style-switcher.js"></script>
    <script src="~/dist/js/feather.min.js"></script>
    <script src="~/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <script src="~/assets/extra-libs/c3/d3.min.js"></script>
    <script src="~/assets/extra-libs/c3/c3.min.js"></script>
    <script src="~/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="~/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/dist/js/pages/dashboards/dashboard1.min.js"></script>
    @RenderSection("Scripts", required: false)
    <footer class="footer text-center text-muted"></footer>
</body>

</html>